* {
    box-sizing: border-box;
}

body {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #f6f5f7;
    font-family: sans-serif;
    min-height: 100%;
    margin: 10%;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: none;
    background: #f6f5f7;
    overflow: hidden;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 14px 28px rgba(0, 0, 0, 0.22);
}

.sign-up,
.sign-in {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-up {
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.sign-in {
    width: 50%;
    z-index: 2;
}

form {
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

h1 {
    font-weight: bold;
    margin: 0;
}

p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 15px 0 20px;
}

input,
select {
    background: #eee;
    padding: 12px 15px;
    margin: 8px 15px;
    width: 500px;
    border-radius: 5px;
    border: none;
    outline: none;
}

a {
    color: purple;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

button {
    color: #fff;
    background: black;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 55px;
    margin: 20px;
    border-radius: 20px;
    border: 1px solid black;
    outline: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;
}

button:active {
    transform: scale(0.90);
}

.sign-in button:hover {
    background-color:  #c0c0c0; 
    color: #fff;
}
.sign-up button:hover {
    background-color:  #c0c0c0; 
    color: #fff;
}

.guest-button {
    color: #fff;
    background-color: #0A0A7C; 
    border: 1px solid white; 
    padding: 12px 55px;
    margin-top: 10px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.guest-button:hover {
    background-color: grey; 
    color: #fff;
}


#signIn,
#signUp {
    background-color: transparent;
    border: 2px solid #fff;
}

.container.right-panel-active .sign-in {
    transform: translateX(100%);
}

.container.right-panel-active .sign-up {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.container.right-panel-active .overlay-container {
    transform: translateX(-100%);
}

.overlay {
    position: relative;
    color: #fff;
    left: -100%;
    height: 100%;
    width: 200%;
    background-image: url('/Image/LoginPage.jpg');
    transform: translate(0);
    transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
    transform: translateX(50%);
}

.overlay-left,
.overlay-right {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

#backButton {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 24px; 
    color: black; 
    cursor: pointer;
    z-index: 1000; 
}

.overlay-right {
    right: 0;
    transform: translateX(0);
}

.container.right-panel-active .overlay-left {
    transform: translateX(0);
}

.container.right-panel-active .overlay-right {
    transform: translateX(20%);
}
